@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}

.card {
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  height: 330px;
  width: 350px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#draw_canvas {
  border: solid 2px gray;
  border-radius: 10px;
}
